# Swipes Table
In this notebook we're going to read in the raw swipes data exported from the accounts table and see if we can create any new variables from it

In [86]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn
print('Pandas version    : {}'.format(pd.__version__))
print('Numpy version    : {}'.format(np.__version__))
print('Matplotlib version: {}'.format(matplotlib.__version__))
print('Seaborn version   : {}'.format(seaborn.__version__))

path = '/Users/davenovelli/Documents/Ultraviolet/Clients/Active/STRV/Data Science Workshop/'

Pandas version    : 0.20.1
Numpy version    : 1.12.1
Matplotlib version: 2.0.2
Seaborn version   : 0.7.1

In [87]:
swipes = pd.read_csv(path + 'surgeapp_swipes.raw.csv')

import warnings
with warnings.catch_warnings():
    warnings.filterwarnings('ignore', r'call to matplotlib.use() has no effect')
import pandas_profiling as pp
pp.ProfileReport(accounts)

,from_account_id,to_account_id,created,liked,superlike,recycled
0,239191,2243372,2016-05-12 03:58:10.996672,t,f,NaN
1,2602100,2243372,2016-08-25 01:43:25.775144,t,f,NaN
2,2082098,2243372,2016-06-10 13:37:36.451993,f,f,NaN
3,294483,2243372,2016-07-26 07:12:55.34634,t,f,NaN
4,124990,2243372,2016-05-17 02:34:13.533005,f,f,NaN
5,3228297,2243372,2017-03-20 07:13:23.112937,f,f,NaN
6,2465892,2243372,2016-07-16 19:35:41.974981,t,f,NaN
7,2171011,2243372,2017-03-31 11:36:59.853332,t,f,NaN
8,2575257,2243372,2016-08-19 20:06:58.231034,t,f,NaN
9,493269,2243372,2016-06-01 18:04:59.297187,t,f,NaN

In [88]:
swipes[swipes.liked != 't'].head()

,from_account_id,to_account_id,created,liked,superlike,recycled
2,2082098,2243372,2016-06-10 13:37:36.451993,f,f,NaN
4,124990,2243372,2016-05-17 02:34:13.533005,f,f,NaN
5,3228297,2243372,2017-03-20 07:13:23.112937,f,f,NaN
10,869593,2243372,2016-05-10 11:43:25.160856,f,f,NaN
12,3129350,2243372,2017-02-14 08:02:45.02322,f,f,NaN

In [89]:
# Let's change the T/F to 0/1 for easier aggregation
swipes.loc[swipes.liked != 't', 'liked'] = 0
swipes.loc[swipes.liked == 't', 'liked'] = 1
swipes.loc[swipes.superlike != 't', 'superlike'] = 0
swipes.loc[swipes.superlike == 't', 'superlike'] = 1
swipes.head(10)

,from_account_id,to_account_id,created,liked,superlike,recycled
0,239191,2243372,2016-05-12 03:58:10.996672,1,0,NaN
1,2602100,2243372,2016-08-25 01:43:25.775144,1,0,NaN
2,2082098,2243372,2016-06-10 13:37:36.451993,0,0,NaN
3,294483,2243372,2016-07-26 07:12:55.34634,1,0,NaN
4,124990,2243372,2016-05-17 02:34:13.533005,0,0,NaN
5,3228297,2243372,2017-03-20 07:13:23.112937,0,0,NaN
6,2465892,2243372,2016-07-16 19:35:41.974981,1,0,NaN
7,2171011,2243372,2017-03-31 11:36:59.853332,1,0,NaN
8,2575257,2243372,2016-08-19 20:06:58.231034,1,0,NaN
9,493269,2243372,2016-06-01 18:04:59.297187,1,0,NaN

In [90]:
# Who is the most popular?
cols = ['to_account_id', 'liked', 'superlike']
been_liked = swipes[cols].groupby('to_account_id').sum().reset_index() \
    .sort_values(['superlike', 'liked'], ascending=False)
print(been_liked.head(10))

      to_account_id  liked  superlike
1755        2436572   1261         28
126          153043   1367         27
521          425985   1040         25
834          708373    864         25
4026        3067257    580         21
1677        2400077    761         20
1486        2271189   1390         19
1614        2365602   1137         18
1445        2243372   1544         17
562          445218   1042         17

In [91]:
# How many have never been liked
never_been_liked = been_liked[been_liked.liked == 0]
print(len(never_been_liked))
never_been_liked.head(10)

129

      to_account_id  liked  superlike
87           137449      0          0
235          217602      0          0
803          670056      0          0
907          786023      0          0
970          872455      0          0
1097        1008197      0          0
1255        2067153      0          0
1376        2194019      0          0
1530        2308885      0          0
1669        2396019      0          0

In [92]:
# But they've liked others?...
cols = ['from_account_id', 'liked', 'superlike']
done_liked = swipes[cols].groupby('from_account_id').sum().reset_index() \
    .sort_values(['superlike', 'liked'], ascending=False)
print(done_liked.head(10))

# Thankfully, no one is that sad! No one has 0 likes/superlike unless they've never liked anyone either
done_liked[done_liked.from_account_id.map(lambda x: x in never_been_liked.to_account_id)]

      from_account_id  liked  superlike
2939          2942563    552        474
1679          2445153    578        316
3163          2984619   1460        118
1840          2547723    367         75
1904          2588032    295         50
940            899111    676         44
3083          2969907   1966         42
1420          2280969    525         35
1186          2066234    546         33
2247          2758609    231         33

Empty DataFrame
Columns: [from_account_id, liked, superlike]
Index: []

In [93]:
# An example of a no-liker:
swipes[(swipes.to_account_id == 137449) | (swipes.from_account_id == 137449)]

,from_account_id,to_account_id,created,liked,superlike,recycled
661654,137449,477218,2016-11-27 16:53:03.02404,0,0,NaN
1261001,121374,137449,2015-04-06 00:19:20,0,0,NaN
1261002,117163,137449,2015-04-05 14:06:48,0,0,NaN
1261003,128639,137449,2015-04-05 09:04:43,0,0,NaN
1261004,127307,137449,2015-04-05 20:05:30,0,0,NaN
1261005,103564,137449,2015-04-05 20:03:05,0,0,NaN
1261006,130265,137449,2015-04-06 05:07:02,0,0,NaN
1261007,138448,137449,2015-04-06 02:26:30,0,0,NaN
1261008,158578,137449,2015-06-21 16:54:23,0,0,NaN
1281933,137449,103306,2015-04-05 07:56:43,0,0,NaN
1504162,137449,128639,2015-04-05 07:57:07,0,0,NaN
2060992,137449,2488781,2016-11-27 16:59:43.842665,0,0,NaN
3266430,137449,889382,2016-11-27 16:59:41.728439,0,0,NaN
3379193,137449,2884524,2016-11-27 16:59:36.912407,0,0,NaN
4005390,137449,2494735,2016-11-27 17:00:37.546355,0,0,NaN
4884131,137449,2860387,2016-11-27 16:53:43.778254,0,0,NaN

In [95]:
# Let's see how many swipes total there are per person (both from and to)...
cols = ['from_account_id', 'liked']
has_swiped = swipes[cols].groupby('from_account_id').count().reset_index() \
    .rename(columns={'liked':'has_swiped'}) \
    .sort_values(['has_swiped'], ascending=False)
print(has_swiped.head(10))

cols = ['to_account_id', 'liked']
been_swiped = swipes[cols].groupby('to_account_id').count().reset_index() \
    .rename(columns={'liked':'been_swiped'}) \
    .sort_values(['been_swiped'], ascending=False)
print(been_swiped.head(10))

      from_account_id  has_swiped
90             139736        5518
935            893247        5346
296            276012        5304
889            846121        5302
48             121374        5270
115            151300        5229
2271          2767460        5134
132            158578        5133
398            352784        5126
2093          2685458        5106
      to_account_id  been_swiped
106          144879         3092
989          893247         3037
595          475854         3005
2598        2839815         2998
349          294889         2964
231          215046         2955
1343        2162125         2881
1611        2362884         2880
193          191891         2879
102          143898         2874

In [98]:
print(has_swiped[has_swiped.has_swiped == 0].shape)
print(has_swiped[has_swiped.has_swiped == 0].head(10))
print(swipes[swipes.from_account_id == 90])

(0, 2)
Empty DataFrame
Columns: [from_account_id, has_swiped]
Index: []
Empty DataFrame
Columns: [from_account_id, to_account_id, created, liked, superlike, recycled]
Index: []

In [80]:
froms = pd.merge(has_swiped, done_liked, how='outer') \
    .rename(columns={'from_account_id':'accountid', 'liked':'has_liked', 'superlike':'has_superliked'})
tos = pd.merge(been_swiped, been_liked, how='outer') \
    .rename(columns={'to_account_id':'accountid', 'liked':'been_liked', 'superlike':'been_superliked'})
print(froms.head(10))
print(tos.head(10))

   accountid  has_swiped  has_liked  has_superliked
0     139736        5518       1169              17
1     893247        5346       1031               3
2     276012        5304        599               0
3     846121        5302        652               0
4     121374        5270        774               1
5     151300        5229       1590               3
6    2767460        5134         70               3
7     158578        5133       1645               0
8     352784        5126       1417               0
9    2685458        5106        185               1
   accountid  been_swiped  been_liked  been_superliked
0     144879         3092         496                0
1     893247         3037         414                1
2     475854         3005        1087               11
3    2839815         2998         490                0
4     294889         2964         299                0
5     215046         2955        1010                8
6    2162125         2881         569                2
7    2362884         2880         467                1
8     191891         2879         355                0
9     143898         2874         419                1

In [81]:
# Now join it all together and we'll get a good grasp of each user's swiping activity
acctswipes = pd.merge(froms, tos, how='outer').fillna(0).astype(int)
print(acctswipes.head(10))

   accountid  has_swiped  has_liked  has_superliked  been_swiped  been_liked  \
0     139736        5518       1169              17         2727         425
1     893247        5346       1031               3         3037         414
2     276012        5304        599               0         2869         379
3     846121        5302        652               0         1014         335
4     121374        5270        774               1         2375         768
5     151300        5229       1590               3         2751         357
6    2767460        5134         70               3         2125         344
7     158578        5133       1645               0          918          95
8     352784        5126       1417               0         2816         302
9    2685458        5106        185               1         2563         461

   been_superliked
0                3
1                1
2                1
3                0
4                3
5                0
6                3
7                0
8                1
9                0

In [82]:
# Let's calculate percentages of swipes that were likes
acctswipes['has_liked_pct'] = acctswipes.has_liked / acctswipes.has_swiped
# Who's the pickiest?
print(acctswipes[acctswipes.has_swiped > 50].sort_values('has_liked_pct', ascending=True).head(10))

acctswipes['been_liked_pct'] = acctswipes.been_liked / acctswipes.been_swiped
# Who's the most desired?
print(acctswipes[acctswipes.been_swiped > 50].sort_values('been_liked_pct', ascending=False).head(10))

# Who's hot with high standards?
acctswipes['likedlikes_ratio'] = acctswipes.been_liked_pct / acctswipes.has_liked_pct
print(acctswipes[acctswipes.has_liked > 50].sort_values('likedlikes_ratio', ascending=False).head(10))

# Who's hot with low standards?
acctswipes['likedlikes_product'] = np.sqrt(np.square(acctswipes.been_liked_pct) + np.square(acctswipes.has_liked_pct))
print(acctswipes[(acctswipes.has_liked > 50) & (acctswipes.been_liked_pct > .4)].sort_values('likedlikes_product', ascending=False).head(10))

      accountid  has_swiped  has_liked  has_superliked  been_swiped  \
4430    2272648          68          0               0            0
4557    3054074          57          0               0          754
4033    3372032         118          0               0            0
4427    3335269          68          0               0          377
4553    3036484          57          0               0          737
3280    2906096         318          0               0          213
3796    2942570         161          0               0           14
4028    3250302         119          0               0            0
4026    3136971         119          0               0            1
3892    3229655         141          0               0          278

      been_liked  been_superliked  has_liked_pct
4430           0                0            0.0
4557         210                3            0.0
4033           0                0            0.0
4427         163                0            0.0
4553         133                0            0.0
3280          61                0            0.0
3796           5                0            0.0
4028           0                0            0.0
4026           0                0            0.0
3892          63                1            0.0
      accountid  has_swiped  has_liked  has_superliked  been_swiped  \
1493    3104410        1563       1563               0          109
3293    3025529         312        312               2           62
3458    3365607         259        211               0          218
547     3287280        2803       2801               0           78
5947    2670037           0          0               0          233
5525    2824856           6          1               0          729
1083    3323023        2028       2028               0          180
141     3106640        4033       4033               0          200
3537    3028254         232        232               0          189
3578     708373         219          3               0         1232

      been_liked  been_superliked  has_liked_pct  been_liked_pct
1493          88                2       1.000000        0.807339
3293          50                2       1.000000        0.806452
3458         166                5       0.814672        0.761468
547           58                0       0.999286        0.743590
5947         167                7            NaN        0.716738
5525         519               12       0.166667        0.711934
1083         127                0       1.000000        0.705556
141          141                2       1.000000        0.705000
3537         133                3       1.000000        0.703704
3578         864               25       0.013699        0.701299
      accountid  has_swiped  has_liked  has_superliked  been_swiped  \
1388    2775892        1683         71               1            2
882     2365602        2264         63               0         1735
206     2488781        3694         62               0         2298
370     3139487        3189         73               0          653
238      567622        3605         64               0         2054
315     2158758        3341         76               0         2417
113     2698819        4157         89               2          163
799     3255180        2383         53               0         1472
693     3112808        2542         52               0         1647
96       291573        4249         80               0         2191

      been_liked  been_superliked  has_liked_pct  been_liked_pct  \
1388           2                0       0.042187        1.000000
882         1137               18       0.027827        0.655331
206          836                3       0.016784        0.363795
370          321                4       0.022891        0.491577
238          781                1       0.017753        0.380234
315         1167                6       0.022748        0.482830
113           73                1       0.021410        0.447853
799          654                4       0.022241        0.444293
693          673                9       0.020456        0.408622
96           758                3       0.018828        0.345961

      likedlikes_ratio
1388         23.704225
882          23.550322
206          21.675117
370          21.474522
238          21.417851
315          21.225459
113          20.918246
799          19.976441
693          19.975316
96           18.374840
      accountid  has_swiped  has_liked  has_superliked  been_swiped  \
4272    3345047          82         82               0            7
1493    3104410        1563       1563               0          109
3293    3025529         312        312               2           62
547     3287280        2803       2801               0           78
2830    3038566         550        550               0           31
1083    3323023        2028       2028               0          180
141     3106640        4033       4033               0          200
3537    3028254         232        232               0          189
3001    3346916         456        456               0           88
2392    3307517         819        819               0          109

      been_liked  been_superliked  has_liked_pct  been_liked_pct  \
4272           6                0       1.000000        0.857143
1493          88                2       1.000000        0.807339
3293          50                2       1.000000        0.806452
547           58                0       0.999286        0.743590
2830          22                0       1.000000        0.709677
1083         127                0       1.000000        0.705556
141          141                2       1.000000        0.705000
3537         133                3       1.000000        0.703704
3001          60                3       1.000000        0.681818
2392          72                1       1.000000        0.660550

      likedlikes_ratio  likedlikes_product
4272          0.857143            1.317078
1493          0.807339            1.285223
3293          0.806452            1.284665
547           0.744121            1.245592
2830          0.709677            1.226231
1083          0.705556            1.223850
141           0.705000            1.223530
3537          0.703704            1.222783
3001          0.681818            1.210321
2392          0.660550            1.198469

In [83]:
# We can use the metrics as part of our content-based model data so save this and we'll join it later using accountid
acctswipes.to_csv(path + 'surgeapp_swipes_agg.csv', index=False)